<h2>Show One User</h2>
<a href="/home">Dashboard</a>
<a href="/showAll">Show All Users</a>



<h1> SHOW ONE!</h1>

<h4>Name: </h4>@ViewBag.showOne.Name
<br>
<h4>Alias: </h4>@ViewBag.showOne.Alias
<br>
<h4>Email: </h4>@ViewBag.showOne.Email
<br>
<h4>Total Likes: </h4>@ViewBag.showOne.LikedIdeas.Count
